body {
    min-width: 670px;
}

::-webkit-scrollbar {
    display: none;
}

.sub_nav {
    min-height: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

td.views_text, td.rating_text {
    width: 110px;
}

td.answer_text {
    width: 80px;
}

td.message_header {
    width: 110px;
}

li.search-query {
    display: none;
}

.date_small {
    display: none;
}


@media (min-width: 1200px) {
    input.search-query {
        width: 300px;
        margin-right: 240px;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    input.search-query {
        width: 310px;
    }
}

@media (max-width: 980px) {
    input.search-query, li.search-divider {
        display: none;
    }

    li.search-query {
        display: block;
    }

    img.star {
        width: 12px;
        height: 12px;
    }

    thead .icon {
        display: none;
    }

    span.views_text {
        content: 'Просм.';
    }

    td.views_text {
        width: 50px;
    }

    td.rating_text {
        width: 65px;
    }

    td.answer_text {
        width: 50px;
    }
}

@media (max-width: 900px) {
    img.star {
        width: 10px;
        height: 10px;
    }

    td.rating_text {
        width: 50px;
    }
    span.message_label {
        content: 'Сообщ.';
    }
    td.message_header {
        width: 50px;
    }
}

#hover_0:hover {
    background-color: #fEe6aB;
}

#hover_1:hover {
    background-color: #b1eFfC;
}

#hover_2:hover {
    background-color: #bFf0bB;
}

#hover_3:hover {
    background-color: #fDeEc5;
}

#hover_4:hover {
    background-color: #A8C2F8;
}

.sub_nav li {
    border-left: 1px solid #9D8E85;
}

#bread {
    border: 1px solid #dedede;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border-left-width: 0;
}

.avatar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: -2px;
}

div.alert > div {
    border-top: 1px solid #fEe6aB;
}

header, nav, section, article, aside, footer {
    display: block;
}

div#theme_switcher {
    display: none;
    position: fixed;
    top: 100px;
    left: -20px;
    z-index: 1000;
    width: 80px;
}

span.rating_num {
    position: relative;
}

td .alert {
    border-color: #F0FB52;
    background: #FCFAEE;
    border: 0px;
    border-radius: 0px;
    border-left-width: .5em;
    border-left-style: solid;
}

div.border {
    border: 1px solid #dedede;
    padding: 10px;
}